<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Simulação de Custos Médicos</title>
</head>
<body>
    <div class="container">
    <h1>Simulação de Custos Médicos</h1>
    <form id="formulario" action="/predict" method="post">
        <label for="idade">Idade</label><br>
        <input type="number" id="idade" name="idade" ><br><br>

        <label for="sexo">Sexo</label><br>
        <select id="sexo" name="sexo">
            <option value="male">Masculino</option>
            <option value="female">Femenino</option>
        </select>

        <label for="bmi"> Índice de Massa Corporal</label><br>
        <input type="text" id="bmi" name="bmi" ><br><br>

        <label for="crianca">Número de filhos cobertos pelo seguro de saúde</label><br>
        <input type="number" id="crianca" name="crianca" ><br><br>

        <label for="fumante">Fumante</label><br>
         <select id="fumante" name="fumante">
            <option value="yes">Sim</option>
            <option value="no">Nao</option>
        </select>

        <label for="regiao">Regiao</label><br>
        <input type="text" id="regiao" name="regiao" ><br><br>

        <input type="submit" value="Simular Custos">
    </form>

    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}
</div>
</body>
</html>
